page-immobilize {
  .mainDiv {
    padding: 80px 10px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .secondDiv {
    padding-top: 20px;
    border-radius: 18px;
    border: 2px solid black;
    background: white;

    position: absolute;
    width: 95%;
    height: 425px;
  }
  .design {
    height: 150px;
    width: 100%;
    background-color: #d6d8d7;
  }

  .ionCol {
    background-color: blue($color: #000000);
  }

  .final {
    top: 31%;
    left: calc(50% - 65px);
    position: absolute;
    background: #d6d8d7;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    text-align: center;
    padding-top: 40px;
    border: 5px solid white;
  }
  .cont {
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
  }
  p {
    margin: auto;
    height: 54px;
  }
  img {
    max-width: 50%;
    border: 0;
    margin-top: 10px;
  }
  .manual {
    margin: auto;
    max-width: 35%;
    margin-top: -12px;
  }
}
